.comment {
  padding: 16px;
  margin-bottom: 10px;
  background-color: var(--paletteWhite);
  border-radius: 5px;
  h4 {
    line-height: 16px;
    margin: 0 0 10px 0;
    font-size: 14px;
    text-transform: uppercase;
  }
  .meta {
    margin-bottom: 10px;
    color: var(--paletteBlack);
    font-size: 13px;
    font-weight: bold;
    opacity: 0.4;
  }
  p {
    line-height: 20px;
    margin: 0;
    font-size: 14px;
  }
}